.circles-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 2rem;
  }
  
  .containerCircleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .imagemValor{

    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 650px;
    margin: auto;
  }
  .imagemValor img{
    width: 200px;
  }
  .containerTexto{
    font-weight: bold;
    font-size: 1.6rem;
  }
  .valor{
    color: red;
    margin-top: 5px;
  }
  .valor span{
    text-decoration: line-through;
    color: black;
  }

  
  .containerCircleText p {
    position: absolute;
    top: 115px;
    color: black;
    margin: 0;
    z-index: 1;  /* Garante que o texto fique acima de outros elementos */
    font-size: 1.2rem;
}
  .line {
    width: 180px;
    height: 15px;
    background-color: #333;
    position: relative;
  }
  
  .linha2 {
    background-color: rgb(216, 216, 216);
  }
  
  #circle3 {

    background-color: rgb(216, 216, 216);
    color: #868585;
  }
  .detalhesPedido{

    width: 90%;
    margin: auto;
    max-width: 650px;
  }
  .textoEspacado{

    display: flex;
    justify-content: space-between;
}
.textoBold{
    font-weight: bold;
}
.textoBold :nth-child(2){
    color: red;
}
 
  @media (max-width: 1200px){
    .circles-container {
        margin-bottom: 8%;
      }
  }
  @media (max-width: 900px){
    .imagemValor{

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 65%;
        min-width: 350px;
      }
      .imagemValor img{
        width: 100px;
      }
      .containerTexto{
        font-weight: bold;
        font-size: 1.3rem;
      }
      .valor{
        color: red;
        margin-top: 5px;
      }
    .containerCircleText p {
        position: absolute;
        top: 55px;
        color: black;
        margin: 0;
        z-index: 1;  /* Garante que o texto fique acima de outros elementos */
        font-size: 1rem;
    }
      .line {
        width: 120px;
        height: 5px;
        background-color: #333;
        position: relative;
      }
      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;
        font-size: 1.5rem;
      }
      .circles-container {
        margin-bottom: 50px;
      }
      

  .linha2 {
    background-color: rgb(216, 216, 216);
  }
  
      
      
  }
  @media (max-width: 500px){
    .line {
        width: 60px;
        height: 5px;
        background-color: #333;
        position: relative;
      }
      .linha2 {
        background-color: rgb(216, 216, 216);
      }
      
  }